html{
	height:100%;
	min-height:100%;
}
body{
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	text-align: center;
	font-size: 25pt;
	min-height:100%;	
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
}
#main h1{
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
	font-weight: 400;
	margin-bottom: 0px;
	font-size: 1.8em;
}
#main{
	padding-bottom: 25px;
	text-align: left;
	display: inline-block;
}
#Zysk img{
	margin-top: 10px;
	height: 80px;
}
#Zysk{
	display: inline-block;
}
#Zysk-details{
	display: inline-block;
}
#mgr{
	font-size: 0.8em;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
}
#licencja{
	font-size: 0.4em;
	text-shadow: none;
}	
#desc{
	text-shadow: 0 0 7px black;
	color: #edd06a;
	font-size: 1.2em;
	font-family: Times New Roman, Georgia, serif;
	margin-bottom: 15px;
}
.desc2{
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
	font-size: 1.1em;
	font-family: Times New Roman, Georgia, serif;
}
#details{
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
	font-size: 0.9em;
	font-style: italic;
	margin-top: 10vh;
}
#details2{
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black, 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
	font-size: 0.9em;
	font-style: italic;
}
ul {list-style: none; margin: 0}
p{margin:0}
li::before {
	content: "•"; 
	display: inline-block;
	width: 1.5em;
	margin-left: -2em;
	color: white;
}
.cat{
	min-height: 85vh;
	padding: 5vh;
	position: relative;
}
#more2{
	background-color: ;
	background: linear-gradient(to left, #8e5b1333, #8e5b13dd);
	text-align: left;
	padding-left: 5vw;
	display: flex;
	flex-direction: column;
	justify-content: center;	
}
#invite{
	margin-top: 15vh;
}
#footer{
	background-image: url(bg2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
    background-attachment: fixed;
	position: relative;
	padding-top: 50px;
}
#dane{
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	margin-left: 15px;
	font-size: 0.7em;
}
#linki{
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	margin-right: 15px;
	font-size: 0.7em;
}


@media screen and (max-width: 600px) {
  body {
	background-image: none;
    background-color: #424242;
	text-align: left;
	font-size: large;
  }
  #start{
	  padding: 0;
  }
  #desc{
	  margin-top: 10vh;
  }
  #main{
	  background-image: url(bg.jpg);
	  background-size: cover;
	  text-align: center;
  }
  #Zysk img{
	  height: 60px;
  }
  #mgr{
	  font-size: 1em;
  }
  #licencja{
	font-size: 0.7em;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  }
  #contact{
	  width: 100%;
	  padding: 0px;
	  text-align: center;
	  line-height: normal;
  }
  #desc{
	  text-align: center;
  }
}